<h2>Sign in</h2>

<div class="offset4 span6">
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	  <div><%= f.label :email %>
	  <%= f.email_field :email, :class => "input-xlarge" %></div>

	  <div><%= f.label :password %>
	  <%= f.password_field :password, :class => "input-xlarge" %></div>

	  <% if devise_mapping.rememberable? -%>
	    <div class="bottom">
	    	<%= f.check_box :remember_me %> <%= f.label :remember_me, :class=> "checkbox inline" %>
	    </div>
	  <% end -%>

	  <div>
	  	<%= f.submit "Sign in", :class => "btn btn-primary" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>

<div class="clear"></div>
