<%= form_for([:admin, @user]) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstName %>
    <%= f.text_field :firstName %>
  </div>
  <div class="field">
    <%= f.label :lastName %>
    <%= f.text_field :lastName %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <% Role.all.each do |r| %>
      <label class="checkbox inline">
        <%= check_box_tag "user[role_ids][]", r.id, @user.roles.include?(r) %>
        <%= r.name %>
      </label>
    <% end %>
  </div>


  <div class="actions">
    <%= f.submit :class => "btn btn-primary"%>
  </div>
<% end %>
