<h1>Listing users</h1>

<table class="table table-striped">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Role</th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.firstName %></td>
    <td><%= user.lastName %></td>
    <td><%= user.email %></td>
    <td>
      <% user.roles.each do |r| %>
        <%= r.name %>
      <% end %>
    </td>

    <td>
      <div class="btn-group">
        <a href="#" class="btn dropdown-toggle" data-toggle="dropdown">Action<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Show', admin_user_path(user) %></li>
          <li><%= link_to 'Edit', edit_admin_user_path(user) %></li>
          <li><%= link_to 'Destroy', admin_user_path(user), method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_admin_user_path %>
